
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #14395d;
    color: white;
    padding: 20px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;

}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

main {
    text-align: center;
    padding: 20px;
}

main h2 {
    font-size: 35px;
}

main p {
    width: 80%;
    margin: auto;
    font-size: 18px;
}

.imagen {
    margin-top: 20px;
}

.imagen img {
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.6);
    width: 500px;
    border-radius: 10px;
} 

table {
    margin: 30px auto;
    border-collapse: collapse;
    font-size: 14px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px 8px;
    text-align: center;
}

footer {
    background-color: #dcdcdc;
    padding: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapa {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}



.botones{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.botones a{
    background-color: #4d7398;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}
.botones a:hover{
    background-color: #112b44;
    transform: translateY(-3px);
}

table{
    width: 80%;
    border-collapse: collapse;
    background-color: white;
    margin-bottom: 40px;    
}
table th {
background:#8677df;
color: white;
}
th, td{
padding: 15px;
align-items: center;
}
footer{
    background: #707d8a;
    color: #dcdcdc;
}

@media (max-width: 768px){
    header{
     flex-direction: column;
     gap: 15px;
     text-align: center ;
    }
}

.navbar ul{
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
gap: 15px;

main{
padding: 1rem;
}
img {
max-width: 100%;
height: auto;
}
.Links-containert{
    flex-wrap:wrap;
    justify-content: center;
}
table{
    width: 100%;
    font-size: 0.9rem;
    height: auto;
}
footer{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 20px 10px;
}
footer iframe {
    width: 100% !important;
    max-width: 100%;
    height: 250px;
    border-radius: 8px;
}
} 